{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Termin anlegen</h1>
    <form action="{{ url_for('createEvent') }}" method="post">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nameInput">Titel</label>
                <input class="form-control" id="nameInput" name="name_E" required type="text"></div>
            <div class="form-group col-md-6">
                <label for="calendarInput">Kalender auswählen:</label>
                <select class="form-control" id="calendarInput" name='test'>
                    {% for element in calendars %}
                    <option value='{{ element["name"] }}'> {{ element["name"] }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="beschreibungInput">Beschreibung</label>
                <textarea class="form-control" id="beschreibungInput" name="beschreibung_E"></textarea>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Start</label>
                <input class="form-control" name="start_date" type="date" required>
                <input class="form-control" name="start_time" type="time">
            </div>

            <div class="form-group col-md-3" id="radio_end">
                <label for="radio_end">Ende</label>
                <div class="form-check">
                    <input class="form-check-input s_time" id="bis_radio" name="s_radio" type="radio" value="Bis">
                    <label class="form-check-label" for="bis_radio">
                        Bis
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input s_time" id="dauer_radio" name="s_radio" type="radio" value="Dauer">
                    <label class="form-check-label" for="dauer_radio">
                        Dauer
                    </label>
                </div>
            </div>
            <script>
$(document).ready(function(){
    $("input.s_time").click(function(){
    	var demovalue = $(this).val();
        $("div.hide_Time").hide();
        $("#show"+demovalue).show();
    });
});

            </script>
            <div class="form-group col-md-3">
                <div class="hide_Time" id="showBis">
                    <label></label>
                    <input class="form-control" name="end_date" type="date">
                    <input class="form-control" name="end_time" type="time">
                </div>

                <div class="hide_Time" id="showDauer">
                    <label></label>
                    <div class="form-row">
                        <div class="col"><input class="form-control" id="sec" type="number" name="dur_sec" min="0"><label
                                class="form-check-label" for="sec">Sekunden</label></div>
                        <div class="col"><input class="form-control" id="min" type="number" name="dur_min" min="0"><label
                                class="form-check-label" for="min">Minuten</label></div>
                        <div class="col"><input class="form-control" id="hour" type="number" name="dur_hour" min="0"><label
                                class="form-check-label" for="hour">Stunden</label></div>
                        <div class="col"><input class="form-control" id="day" type="number" name="dur_day" min="0"><label
                                class="form-check-label" for="day">Tage</label></div>
                        <div class="col"><input class="form-control" id="week" type="number" name="dur_week" min="0"><label
                                class="form-check-label" for="week">Wochen</label></div>
                    </div>

                </div>
            </div>
        </div>
        <script>
$(document).ready(function(){
    $("input.s_alarm").click(function(){
    	var demovalue = $(this).val();
        $("div.hide_Alarm").hide();

        if ($(this).val() == "KeinAlarm") {
  $("#showRest").hide();
}
else {$("#showRest").show();}
        $("#show"+demovalue).show();

    });
});

        </script>

        <div class="form-row">
            <div class="form-group col-md-3">
            <h6>Alarm</h6>
            <label>
                <input checked class="s_alarm" name="alarmRadio" type="radio" value="KeinAlarm">Kein</label>
            <label>
                <input class="s_alarm" name="alarmRadio" type="radio" value="Email">Email</label>
            <label>
                <input class="s_alarm" name="alarmRadio" type="radio" value="Sound">Sound</label>
            <label>
                <input class="s_alarm" name="alarmRadio" type="radio" value="Display">Display</label>
                </div>

        <div class="hide_Alarm" id="showRest">
            <div class="form-row">
            <div class="col-2">Wann</div>
                <div class="col"><input type="number" name="whenA_sec" value="0"><label>Sekunden</label></div>
                <div class="col"><input type="number" name="whenA_min" value="0"><label>Minuten</label></div>
                <div class="col"><input type="number" name="whenA_hour" value="0"><label>Stunden</label></div>
                <div class="col"><input type="number" name="whenA_day" value="0"><label>Tage</label></div>
                </div>
            <hr>
            <div class="form-row">
            <div class="col-2"> Wie lange</div>
                <div class="col"><input type="number" name="durA_sec" value="0"><label>Sekunden</label></div>
                <div class="col"><input type="number" name="durA_min" value="0"><label>Minuten</label></div>
                <div class="col"><input type="number" name="durA_hour" value="0"><label>Stunden</label></div>
                <div class="col"><input type="number" name="durA_day" value="0"><label>Tage</label></div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-2"> Wie lange</div>
                <div class="col-6"><input type="number" name="countA" value="0"><label>Anzahl</label></div>
            </div>
            <hr>
        </div>
</div>
        <div class="hide_Alarm" id="showEmail">
            Emailtext:<input type="text" name="emailT_A">
            <p></p>
            <p>Addressat:<input type="email" name="emailA_A">
            </p>
        </div>
        <div class="hide_Alarm" id="showSound">
            Sounddatei:<input type="file" name="sound_A"></div>
        <div class="hide_Alarm" id="showDisplay">
            Angezeigte Nachricht:<input type="text" name="display_A"></div>

<script>
$(document).ready(function(){
    $("input.s_rrule").click(function(){
    	var demovalue = $(this).val();
        $("div.hide_RRule").hide();
        $("#show"+demovalue).show();
    });
});


</script>
<h6>Wiederholend</h6>

<div>
    <label>
        <input checked class="s_rrule" name="colorRadio"
               type="radio" value="RRule_No">Nein</label>
    <label>
        <input class="s_rrule" name="colorRadio" type="radio"
               value="RRule_Yes">Ja</label>
</div>
<div class="hide_RRule" id="showRRule_Yes">
    <p>Wiederholt sich jede(n/s) <input type="number" name="countEvery_RR"> <select name="dropdown">
        <option value="Minute" name="minEvery_RR">Minute</option>
        <option value="Stunde" name="hourEvery_RR">Stunde</option>
        <option selected value="Tag" name="dayEvery_RR">Tag</option>
        <option value="Woche" name="weekEvery_RR">Woche</option>


    </select></p>
    <p>Wiederholt sich an:
        <input name="Montag" type="checkbox"> Montag
        <input name="Dienstag" type="checkbox"> Dienstag
        <input name="Mittwoch" type="checkbox"> Mittwoch
        <input name="Donnerstag" type="checkbox"> Donnerstag
        <input name="Freitag" type="checkbox"> Freitag
        <input name="Samstag" type="checkbox"> Samstag
        <input name="Sonntag" type="checkbox"> Sonntag
    </p>
    <div>
        <label>
            <input name="endingRadio" type="radio"
            >Endet am</label>
        <label>
            <input name="endingRadio" type="radio"
            >Wiederholungen</label>
    </div>
    <p>Endet am:<input type="date"><input type="time"></p>
    <p>Nach:<input type="number">Wiederholungen zu ende</p>
</div>

<h6>Teilnehmer</h6>
Email: <input type="email" name="contact">

<script>
$(document).ready(function(){
    $("input.s_loc").click(function(){
    	var demovalue = $(this).val();
        $("div.hide_Loc").hide();
        $("#show"+demovalue).show();
    });
});


</script>
<h6>Location</h6>
<div class="form-check form-check-inline">
    <input class="form-check-input s_loc" name="inlineRadioOptions3" type="radio" value="GeoData">
    <label class="form-check-label">GeoData</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input s_loc" name="inlineRadioOptions3" type="radio" value="Address">
    <label class="form-check-label">Adresse</label>
</div>
<div class="hide_Loc" id="showGeoData"><p>Latitude: <input name="lat" type="text">Longitude: <input name="lon"
                                                                                                    type="text"></p>
</div>
<div class="hide_Loc" id="showAddress"><p>Ort: <input name="city" type="text">Straße: <input name="street" type="text">
</p></div>

<h6>Ressourcen</h6>
<input type="text" name="resources">
<h6>Kategory</h6>
<input type="text" name="category">
<p></p>
<p><input type="submit" value="Event erstellen"></p>
</form>
<h5> {{ msg }} </h5>
</div>
{% endblock content %}